.container {
  background-color: rgb(29, 81, 5);
  color: rgb(247, 250, 253);
  padding: 20px 40px 20px 40px;
}

.nav {
  display: flex;
  gap: 80px;
}

.link {
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(29, 81, 5);
}

.link:hover {
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(247, 250, 253);
}
.link.active {
  color: #fcd21a;
  border-color: #fcd21a;
}


.link:hover,
.link:focus,
.link:active {
  /* transform: scale(0.95); */
}

@media screen and (min-width: 375px) {
}
@media screen and (min-width: 768px) {
  .header {

  }


}
@media screen and (min-width: 1250px) {
  .header {

  }

}
