.container {
  display: flex;
  margin-left: auto;
  gap: 50px;
}

.link {
  /* display: inline-block; */
  text-decoration: none;
  /* padding: 12px 4px; */

  /* color: #2a363b; */

  
}

.link:hover {
  fill: rgb(212, 119, 4);
  padding-bottom: 5px;
  /* color: rgb(212, 119, 4); */
  border-bottom: 1px solid #2d2c2c;
}

.link.active {
  color: #f3c806;
}

.navIcon {
  margin-right: 5px;
}
