.modal-item {
  list-style: none;
  margin: 10px 0;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f9f9f9;
}

.modal-item:hover {
  background-color: #eee;
}

/* Стиль для вибраних елементів */
.modal-item.selected {
  background-color: #e44848; /* Червоний фон */
  color: #fff; /* Білий текст */
  font-weight: bold;
}



.dropdown-field {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
  font-size: 16px;
  text-align: left;
  color: #333; /* Основний текст */
}

.dropdown-field::placeholder {
  color: #aaa; /* Колір для placeholder */
}

.dropdown-field.empty {
  color: #aaa; /* Колір для пустого поля */
}

