.listCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  gap: 30px;
}

.itemCard {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 260px;
  height: 405px;
  border-radius: 4px;
  /* padding: 20px; */
  /* border: 2px solid #2b4170; */
  /* border: 1px solid rgba(43, 65, 112, 1);
  border-radius: 5px;
  background-color: rgba(43, 65, 112, 0.5); */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Анімація для об'ємного ефекту */
  /* overflow: hidden; */
}

.itemCard:hover {
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.imgCard {
  margin-top: 20px;
}

.text {
  margin-top: 10px;
text-align: center;
  width: 210px; /* Встановлюємо максимальну ширину */
  white-space: nowrap; /* Забороняємо перенос рядка */
  overflow: hidden; /* Приховуємо текст, який виходить за межі */
  text-overflow: ellipsis; /* Додаємо три крапки (...) */
}

/* ============ */
/* Ефект при наведенні */
.itemProjects:hover {
  transform: scale(1.05); /* Збільшення розміру */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Об'ємний тіньовий ефект */
  background-color: rgba(43, 65, 112, 0.8); /* Трохи менш прозорий фон при наведенні */
}

/* ========= */

.cart {
  display: flex;
  width: 210px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.btnCart {
  display: flex;
  justify-content: center;
  border-radius: 8px;
  /* background-color: #535bf2; */
  padding: 10px;
  /* border: 1px solid ; */
}