:root {
  --main-text: #141517;
  --secondary-text: #2b4170;
  --background: #eff2f8;
  --secondary-background: #fff;
  --logo: #B50828;
  --nav: #FFC531;
  --text-shadow:  2px 2px 1px rgb(132, 5, 27);
  --inputs: #F7F7F7;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  /* min-width: 320px; */
  /* min-height: calc(100vh - var(--header-height) - var(--footer-height)); */
  font-family: 'Inter', 'PT Serif', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--main-text);

  /* width: 320px; */

    /* background-image: url(./images/sky01.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  /* color: #101828; */
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  /* color: #646cff; */
  text-decoration: none;
}
a:hover {
  /* color: #535bf2; */
}

button {
  font-family: inherit;
  cursor: pointer;
  padding: 0;
  border: none;
  /* color: currentColor;
  background-color: transparent; */
  /* border: 2px solid rgb(154, 152, 152); */
}
button:hover {
  border-color: #646cff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  font-family: inherit;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid rgb(29, 81, 5);
}

select {
    background-color: inherit;
  border: none;
  cursor: pointer;
  outline: none;
}


* {
    box-sizing: border-box;
}


