
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
    font-weight: 500;
    font-size: 48px;
    text-align: center;
    color: #d3d2d2;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15;
}
